body {
    width: 80%;
    margin: auto;
    font-family: Arial, sans-serif;
    background-color: lightblue;
}

#main-title {
    color: darkblue;
    text-align: center;
    padding: 10px;
}

.intro {
    background-color: white;
    border: 2px solid navy;
    padding: 10px;
    margin-bottom: 20px;
}

img {
    width: 300px;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

